:root {
    --background-color: rgb(23, 23, 23);
    --font-color: rgb(230, 230, 230);
    --gray-color: rgb(100, 100, 100);
}

@font-face {
    font-family: "Cascadia Code";
    src: local("Cascadia Code"), url("/CascadiaCode.woff2");
    font-display: swap;
}

*:focus-visible {
    outline: 1px dashed;
}

body {
    background-color: var(--background-color);
    box-sizing: border-box;
    color: var(--font-color);
    font-family: "Cascadia Code", monospace;
}

p {
    line-height: 1.5;
}

a {
    color: inherit;
}

thead {
    font-weight: bold;
}

td {
    padding: 2px 8px;
}

.scrollwrapper {
    overflow: auto;
}